/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: #000028;
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--text-font-size); 
  padding: 10px;
  
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin-block-start: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.header::before,
.header::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.header::before {
  justify-self: end;
  border-inline-end: var(--border-style);
  border-block-start: var(--border-style);
}

.header::after {
  justify-self: start;
  align-self: end;
  border-inline-start: var(--border-style);
  border-block-end: var(--border-style);
}

.header__top-decoration {
  position: absolute;
  right: 30px;
  justify-self: end;
  color: var(--accent-color);

  line-height: 25px;
}

.header__top-decoration::after {
  content: " . ";
  position: relative;
  bottom: 3.25px;
  left: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 9px 2px var(--accent-color);
  font-size: 9px;
  background-color: var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: bold;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  max-inline-size: 355px;
  box-sizing: content-box;
  padding-right: 10px;


}



.title-decor {
  background-color: var(--accent-color);
  color: var(--header-font-color);
  font-weight: bold;
  block-size: fit-content;
  inline-size: 355px;
  line-height: 100%;


  /* padding-right: 10px; */
}

.section__header {
  background-color: inherit;
  color: var(--accent-color);
  /* font-size: var(--text-font-size); */
}