.page {
  margin: 0 auto;
  font-size: var(--text-font-size);
  background-color: var(--cover-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.page .header,
.page .main,
.page .footer {
  padding-inline: 10px;
  padding-block: 10px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  box-shadow: none;
  color: rgb(var(--button-color-rgb));
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid rgb(var(--button-color-rgb));
  pointer-events: none;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid rgba(var(--button-color-rgb), 0.4);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid rgb(var(--button-color-rgb));
  outline: none;
}

.decorated-area::after,
.decorated-area::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-area::before {
  top: 10px;
  right: 10px;
  justify-self: end;
  border-inline-end: var(--border-style);
  border-block-start: var(--border-style);
}

.decorated-area::after {
  bottom: 10px;
  left: 10px;
  justify-self: start;
  align-self: end;
  border-inline-start: var(--border-style);
  border-block-end: var(--border-style);
}

.header__top-decoration {
  position: absolute;
  top: 10px;
  right: 27px;
  display: var(--title-decoration-display);
  justify-self: end;
  color: var(--accent-color);
  line-height: 25px;
}

.header__top-decoration::after {
  content: " . ";
  position: relative;
  bottom: 3.25px;
  left: 9px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  font-size: 9px;
  background-color: var(--accent-color);
}

.accent-title {
  max-width: 100%;
  color: var(--header-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__paragraph {
  justify-self: center;
  margin-block-end: 10px;
}

.section__header {
  margin-block-start: var(--header-section-top-margin);
  color: var(--title-accent-color);
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 23.4px;
  background-color: inherit;
}

.title-decor {
  color: var(--title-font-color);
  font-weight: bold;
  background-color: var(--accent-color);
  block-size: fit-content;
}

.article-title {
  margin-block-start: 0px;
}

.start-section {
  margin-block-start: 30px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__article {
  display: grid;
  grid-auto-rows: min-content;
  gap: 10px;
}

.section__article-header {
  font-size: var(--text-font-size);
}

.section__article-paragraph {
  color: var(--section-paragraph-font-color);
}

.normal-font-weight {
  font-weight: normal;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.paragraph-link {
  position: relative;
  text-decoration: none;
}

.paragraph-link:hover::after {
  content: "";
  position: absolute;
  bottom: -0.15px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.paragraph-link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery-header {
  margin-block-end: 10px;
}

.section-gallery-wrapper {
  gap: 0;
}

.section-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.section__picture img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer .footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .page .main,
  .page .footer {
    padding-inline: 20px;
  }

  .page .header {
    margin-block-start: 0;
    padding: 0;
  }

  .header {
    position: relative;
  }

  .header__theme-menu {
    margin-inline-end: 20px;
    margin-block-end: 53px;
  }

  .decorated-area::before {
    top: 20px;
    right: 20px;
  }

  .decorated-area::after {
    bottom: 20px;
    left: 20px;
  }

  .header__top-decoration {
    top: 20px;
    right: 35px;
    padding-inline-end: 2px;
  }

  .header__paragraph {
    justify-self: end;
    align-self: start;
    margin-inline-end: 20px;
    margin-block-start: 42px;
    max-inline-size: 364px;
  }

  .main {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 80px;
  }

  .section:first-child {
    margin-block-start: 50px;
  }

  .section__header {
    margin-block-start: 0;
  }

  .section-even .section__header {
    max-inline-size: 236px;
  }

  .section-odd {
    grid-template-columns: 1fr minmax(472px, 649px);
    grid-template-rows: auto;
    column-gap: 20px;
  }

  .section-odd .section__header {
    grid-column: 1;
    grid-row: 2 span;
    min-inline-size: 236px;
  }

  .section-odd .article-title {
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: start;
    margin-block-start: 0;
    margin-block-end: 0;
    inline-size: 100%;
  }

  .section-odd .section__article {
    grid-column: 2;
    grid-row: span 3;
  }

  .section-even {
    grid-template-columns: minmax(728px, 1004px);
    justify-content: center;
  }

  .gallery-header {
    margin-block-end: 20px;
    inline-size: 100%;
  }

  .section-gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 192px 230px 318px;
    grid-auto-flow: dense;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  .section__picture:nth-child(2),
  .section__picture:nth-child(3) {
    grid-row-start: span 2;
  }

  .section__picture:first-child,
  .section__picture:last-child {
    grid-column-start: span 2;
  }

  .footer {
    margin-block-start: 10px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-end: 0px;
    margin-block-start: 18px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__paragraph {
    margin-block-start: 51px;
    max-inline-size: 491px;
  }

  .header .header__title {
    font-size: 157px;
  }

  .main {
    justify-content: normal;
  }

  .section__header {
    min-inline-size: 315px;
  }

  .section__article-header {
    inline-size: 100%;
  }

  .section-gallery {
    grid-template-rows: 260px 315px 433px;
  }
  
  /* вроде пофиксил */
  .section-column {
    grid-template-columns: repeat(3, 315px);
    grid-auto-rows: min-content;
    justify-content: space-between;
    column-gap: 20px;
  }

  .section-even .section__header {
    grid-area: 1 / 1 / 2 / 4;
  }

  .footer .footer__title {
    font-size: 157px;
  }
}
