/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --text-font-size: 18px;
  --main-font: "IBM Plex mono";
  --border-style: 1px solid var(--title-accent-color);
  --header-color: #DB00FF;
  --title-font-color: #000028;
  --title-accent-color: #ff0070;
  --header-section-top-margin: 50px;
  --section-paragraph-font-color: #f1b2ce;
  --button-color-rgb: 255, 0, 112;
  --title-decoration-display: block;
}

